// 5.0 Buttons

.button {
  @include border-top-radius(8px);
  @include border-bottom-radius(8px);
  cursor: pointer;
  // 5.1 Primary Buttons
  &__primary {
    background-color: $mineShaft;
    box-shadow: 0 0 0 2px transparent;
    @include largeTitle();
    color: $white;
    // 5.1.1 Size A
    &--a {
      width: auto;
      height: 45px;
      margin: 0;
      padding: 0 40px;
    }
    // 5.1.2 Size B
    &--b {
      width: auto;
      height: 40px;
      margin: 0;
      padding: 0 32px;
    }

    &:focus {
      box-shadow: 0 0 0 2px transparent;
    }

    &:hover {
      box-shadow: 0 0 0 2px $mineShaft20;

      span {
        border-bottom: solid 1px $white;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $mineShaft40;
      border: solid 1px $mineShaft40;
      cursor: not-allowed;

      &:hover {
        box-shadow: none;

        span {
          border-bottom: none;
        }
      }
    }
  }
  // 5.2 Secondary Button
  &__secondary {
    background-color: transparent;
    border: solid 1px $mineShaft;
    color: $mineShaft;
    // 5.2.1 Size A
    &--a {
      @include innerPageTitle();
      width: auto;
      height: 48px;
      margin: 0;
      padding: 0 40px;
    }
    // 5.2.2 Size B
    &--b {
      @include innerPageHeader();
      width: auto;
      height: 40px;
      margin: 0;
      padding: 0 32px;
    }

    &:focus {
      box-shadow: 0 0 0 2px transparent;
    }

    &:hover {
      box-shadow: 0 0 0 2px $mineShaft20;

      span {
        border-bottom: solid 1px $mineShaft;
      }
    }

    &:disabled {
      background-color: transparent;
      color: $mineShaft40;
      border: solid 1px $mineShaft40;
      cursor: not-allowed;

      &:hover {
        box-shadow: none;

        span {
          border-bottom: none;
        }
      }
    }
  }
  // 5.3 Radio Button
  &__radio {
    position: relative;
    margin: 0 24px 0 0;
    padding: 0;
    display: inline-block;

    input[type=radio] {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;

      &:disabled + span {
        background-color: transparent;
        color: $mineShaft40;
        border: solid 1px $mineShaft40;
        cursor: not-allowed;

        &:hover {
          box-shadow: none;

          span {
            border-bottom: none;
          }
        }
      }
    }

    input[type=radio] + span {
      position: relative;
      display: inline-block;
      width: auto;
      height: 40px;
      margin: 0;
      padding: 0 24px;
      @include sBody();
      line-height: 40px;
      border: solid 1px $mineShaft;
      background-color: transparent;
      @include border-top-radius(8px);
      @include border-bottom-radius(8px);
    }

    input[type=radio]:focus + span {
      outline: rgb(59, 153, 252) auto 5px;
    }

    input[type=radio]:checked + span {
      color: $white;
      border: solid 1px $cornflowerBlue;
      background-color: $cornflowerBlue;

      &:hover {
        color: $mineShaft;
        border: solid 1px transparent;
        background-color: $cornflowerBlue50;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
  // 5.4 Inline Links
  &__inline {
    width: auto;
    height: 40px;
    // 5.4.1 Focus link
    &--focus {
      background-color: $blueViolet10;
      border: solid 1px $blueViolet;
      color: $blueViolet;

      span {
        display: inline-block;
        margin: 1px 0 0 16px;
        padding: 0;
        @include dosisMedium();
        font-size: 16px;
        line-height: 20px;
        border-bottom: solid 1px transparent;
      }

      i {
        display: inline-block;
        margin: 0;
        padding: 0 12px;
        font-size: 18px;
      }

      &:focus {}

      &:hover {
        span {
          border-bottom: solid 1px $blueViolet;
        }
      }
    }
    // 5.4.2 Subtle Link
    &--subtle {
      span {
        @include dosisMedium();
        font-size: 12px;
        line-height: 16px;
        color: $mineShaft;
        border-bottom: solid 1px $mineShaft;
      }
    }
  }
}
