.service-users {
  background-color: $wildSand;

  &__filter {
    .form {
      width:100%;

      label {
        margin: 0 16px 0 0 !important;
      }
      
      &__search {
        display: inline-block;
      }

      &__drop-down {
        display: inline-block;
        margin:0 16px 0 0;

        &:last-child {
          margin:0;
        }
      }

    }
  }
}
