/* Main */
.base-layout__main {
  @include grid-container;
  min-height: 100vh;

  .settings {
    margin: 0;
    padding: 16px;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    overflow: scroll;
  }

  .my-profile {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__account-details {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;
    }

    &__privacy-settings {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
    }
  }

  .settings-calendar {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__my-calendar-feed {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;

      > div {
        @include grid-column(8, $base-layout-grid);
      }
    }

    &__all-appointments-calendar {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(8, $base-layout-grid);
      }
    }
  }

  .notifications {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;
  }

  .users {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__intro {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;

      > div {
        @include grid-column(8, $base-layout-grid);
      }
    }

    &__search {
      @include grid-column(12, $base-layout-grid);

      .form__search {
        margin: 0 0 32px;
      }
    }
  }

  .edit-user {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__intro {
      @include grid-column(12, $base-layout-grid);
    }

    &__details {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 8px;
    }

    &__notification {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;
    }

    &__action {
      @include grid-column(12, $base-layout-grid);
    }
  }

  .locations {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__intro {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;

      > div {
        @include grid-column(8, $base-layout-grid);
      }
    }

    &__search {
      @include grid-column(12, $base-layout-grid);

      .form__search {
        margin: 0 0 32px;
      }
    }
  }

  .location-edit {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__form {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 8px;
    }

    &__action {
      @include grid-column(12, $base-layout-grid);
    }
  }

  .pre-triage-questions {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__intro {
      @include grid-column(12, $base-layout-grid);
    }

    &__question {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 8px;
    }

    &__options {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;
    }

    &__action {
      @include grid-column(12, $base-layout-grid);
    }
  }

  .configuration {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    &__intro {
      @include grid-column(12, $base-layout-grid);

      > div {
        @include grid-column(6, $base-layout-grid);
      }
    }

    &__options {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;
    }

    &__feedback {
      @include grid-column(12, $base-layout-grid);
    }

    &__custom {
      @include grid-column(12, $base-layout-grid);
      border-bottom: dashed 1px rgba(0,0,0,0.1);
      margin: 0 0 32px;
      padding: 0 0 32px;

      .custom {
        &__text {
          @include grid-column(6, $base-layout-grid);
        }
        &__variables {
          @include grid-column(6, $base-layout-grid);
        }
      }
    }

    &__action {
      @include grid-column(12, $base-layout-grid);

    }
  }

  .branding {
    margin: 0;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100vh - 64px);
    overflow: scroll;

    > div {
      @include grid-column(6, $base-layout-grid);
    }
  }
}
